.convert_div {
  .button_wrapper {
    position: fixed;
    z-index: 999;
    top: 22rem;
    right: -6rem;
    transition: all 0.35s ease;
    &.convert_button_open {
      right: 9rem;
    }

    button {
      position: absolute;
      z-index: 999;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 1.1rem;
      color: black;
      background-color: #e7e7e752;
      z-index: 999;
      &:hover {
        cursor: pointer;
        background-color: #ffffffc5;
      }
    }
  }

  .convert_button_hint {
    position: fixed;
    top: 22rem;
    right: 1rem;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;

    &.hint_close {
      right: -7rem;
    }
    img {
      transform: rotate(180deg);
      width: 3rem;
    }
  }

  .ffmpeg_load_msg {
    margin-top: 3rem;
  }

  .system_log {
    margin-top: 4rem;
    background-color: #c7c7c7;
    border-radius: 0.2rem;
    display: inline-block;
    width: auto;

    p {
      display: inline-block;
      width: auto;
      white-space: wrap;
    }
  }
}
