@mixin absoluteSt($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

header {
  @include absoluteSt(0, 0);
  height: 6rem;
  z-index: 10;
  width: 100%;
  // border-bottom: 1px solid #00000042;
  background-color: #fafafa00;
  display: flex;

  .logo {
    @include absoluteSt(2rem, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    img {
      width: 4rem;
    }
  }

  .config_button {
    @include absoluteSt(1rem, 1rem);
    cursor: pointer;
    img{
      width: 4rem;
      opacity: 0;
    }
  }
}
