.panerl_wrapper {
  position: absolute;
  top: 8rem;
  left: -14rem;
  transition: all 0.3s ease;
  &.panerl_open {
    left: 2rem;
  }
}

@mixin input_style {
  height: 2.1rem;
  text-align: center;
  border-radius: 0.2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

@mixin input_color {
  background-color: #ffffff9f;
  border: 1px solid #00000025;
}

.config_panerl {
  position: absolute;
  z-index: 999;
  width: 14rem;
  background-color: #ffffff7e;
  transition: all 0.2s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000065;
  border-radius: 3rem;
  padding-bottom: 2rem;

  .close_button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid #00000031;
  }
  .setting_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .panel_title,
    .type,
    .size,
    .frame,
    .command {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #00000038;
      width: 12rem;
    }
    .command {
      border: none;
    }

    .panel_title {
      text-align: center;
      font-size: 1.4em;
    }

    .type {
      display: flex;
      align-items: center;
    }

    .size {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .size_option {
        display: flex;
        align-items: center;
      }
      .size_ratio {
        display: flex;
        justify-content: center;
      }
      .size_custom {
        display: flex;
        justify-content: space-evenly;
        input {
          width: 4.5rem;
          @include input_style;
          @include input_color;
        }
      }
    }

    .frame {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .frame_mode {
        display: flex;
        align-items: center;
      }
      .frame_custom {
        display: flex;
        justify-content: center;
        input {
          width: 8rem;
          @include input_style;
          @include input_color;
        }
      }
    }

    .command {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      label {
        input {
          transform: scale(1.4);
          margin-right: 0.5rem;
        }
      }
      .current_command {
        @include input_color;
        padding: 0.5rem;
        width: 12rem;
        min-height: 2rem;
        resize: none;
        &::placeholder {
          color: #00000059;
        }

        white-space: pre-wrap;
        word-break: break-all;
      }
    }

    .reset {
      @include input_color;
      @include input_style;
      width: 6rem;
      margin: auto;
    }
  }
}
.select_style {
  flex: 1;
  // 사용자에게 표시되는 항목(선택한 것)
  > div:nth-child(3) {
    background-color: #ffffffc5;
    backdrop-filter: blur(0.15rem);
  }
  // 사용자가 선택하는 항목
  > div:nth-child(4) {
    background-color: #ffffff3a;
    backdrop-filter: blur(0.15rem);
    div {
      transition: all 0.15s ease;
      & {
        div:hover {
          background-color: #00000014;
        }
        div[aria-selected="true"] {
          background-color: #00000057;
          color: #fff;
        }
      }
    }
  }
}

.config_hint{
  position: fixed;
  display: flex;
  top: 22rem;
  left: 1rem;
  transition: all 0.4s ease;

  img{
    width: 2rem;
  }

  &.hint_close{
    left: -4.5rem;
  }
}