// .video_holder {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #e9e9e957;
//   border-radius: 2rem;
//   transition: background-color 0.3s ease;
//   transition: backdrop-filter 0.3s ease;
//   margin: auto;
//   will-change: transform;
//   z-index: 999;
//   cursor: pointer;
//   border: 1px solid #00000065;
//   margin-top: 12rem;

//   --tx: 0px;
//   --ty: 0px;

//   transform: translate(var(--tx), var(--ty));

//   &.hover_in_big {
//     background-color: #ffffff7e;
//     backdrop-filter: blur(0.1rem);
//     animation: hover_in_big 0.3s ease forwards;

//     // border: 1px solid #1f1f22;
//   }
//   &.hover_out_big {
//     animation: hover_out_big 0.2s ease;
//   }

//   &.hover_in_small {
//     background-color: #ffffff7e;
//     backdrop-filter: blur(2rem);
//     animation: hover_in_small 0.3s ease forwards;

//     // border: 1px solid #1f1f22;
//   }
//   &.hover_out_small {
//     animation: hover_out_small 0.2s ease;
//   }

//   .guide_text{
//     text-align: center;
//     font-size: 1.1rem;
//     font-weight: 100;
//     color: #00000065;
//   }

//   .vid_item {
//     video {
//       width: 10rem;
//       height: 10rem;
//     }
//   }
// }

// .no_item {
//   // margin-top: 8rem;
//   width: 30rem;
//   height: 18rem;
// }

// .has_item {
//   max-width: 50rem;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
//   margin-top: 9rem;
//   padding: 1rem;
//   // margin-right: 5rem;

//   //
//   overflow-y: auto;
//    &::-webkit-scrollbar {
//     width: 0.7rem;
//   }
//   &::-webkit-scrollbar-track {
//     background: transparent;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
//   &::-webkit-scrollbar-thumb {
//     background-color: rgba(100, 100, 100, 0.4);
//     border-radius: 4px;
//     border: 2px solid transparent;
//     background-clip: padding-box;
//   }
//   &::-webkit-scrollbar-thumb:hover {
//     background-color: rgba(100, 100, 100, 0.7);
//   }
// }

// @keyframes hover_in_big {
//   0% {
//     transform: translate(var(--tx), var(--ty)) scale(1);
//   }
//   70% {
//     transform: translate(var(--tx), var(--ty)) scale(1.13);
//   }
//   100% {
//     transform: translate(var(--tx), var(--ty)) scale(1.1);
//   }
// }
// @keyframes hover_out_big {
//   0% {
//     transform: translate(var(--tx), var(--ty)) scale(1.1);
//   }
//   100% {
//     transform: translate(var(--tx), var(--ty)) scale(1);
//   }
// }

// @keyframes hover_in_small {
//   0% {
//     transform: translate(var(--tx), var(--ty)) scale(1);
//   }
//   70% {
//     transform: translate(var(--tx), var(--ty)) scale(1.05);
//   }
//   100% {
//     transform: translate(var(--tx), var(--ty)) scale(1.03);
//   }
// }
// @keyframes hover_out_small {
//   0% {
//     transform: translate(var(--tx), var(--ty)) scale(1.03);
//   }
//   100% {
//     transform: translate(var(--tx), var(--ty)) scale(1);
//   }
// }

@mixin video_style {
  position: relative;
  z-index: 999;
  background-color: #ffffff41;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.35s cubic-bezier(0.7, -0.5, 0.4, 1.5);
  &:hover {
    transform: scale(1.13);
  }
}

.video_holder {
  position: fixed;
  z-index: 999;
  top: 6rem;
  left: 15rem;
  right: 12rem;
  bottom: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;

  // 스크롤
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.7rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0000001a;
    border-radius: 0.3rem;
  }

  .guide_text {
    @include video_style;
    border-radius: 3rem;
    top: 6rem;
    width: 30rem;
    height: 18rem;
  }

  .grid_video {
    position: relative;
    z-index: 999;
    display: grid;
    width: 100%;
    min-width: 16rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    row-gap: 2.4rem;
    column-gap: 2rem; 

    .vid_item {
      @include video_style;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: fit-content;

      video, .plus_button {
        width: 15.5rem;
      }
      .plus_button{
        height: 15.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
      }
    }
  }
}
